
* {
/*    border: 1px solid green;*/
    font-family: Raleway;
}


.form-group {
    max-width:75%;
    text-align: center;
    margin: auto;
    background-color:#ADB4B8;
    border: 3px solid black;
}

#instructions{
    text-align: center;
    margin-top: 150px:
    max-width: 75%;
    margin: auto;
}

body {
    background-color:#3B6175;
}

input {
    border: 1px solid black;
}

.image {
    margin: auto;
    max-width: 50%;
    
}